# Agrogating Data

In [2]:
import json
import requests

In [3]:
player_id_json = []
with open('./data/top_10k_players.json') as file:   
    player_id_json = json.load(file)
top_1000_players = player_id_json['items']
# top_100_players = top_1000_players[:100]
# top_100_players

In [4]:
headersAuth = {
    'Authorization': 'Bearer '+ 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjRjZGJlNzdmLTNjMjQtNDcxZC1hNzJjLWY1N2ZhOTEzZDEwMyIsImlhdCI6MTY1NDkxNDI4MSwic3ViIjoiZGV2ZWxvcGVyLzc5ODk5NzFjLWNlNzktZjRhYy1mY2U3LWNhYWEyODgxMTYzNSIsInNjb3BlcyI6WyJyb3lhbGUiXSwibGltaXRzIjpbeyJ0aWVyIjoiZGV2ZWxvcGVyL3NpbHZlciIsInR5cGUiOiJ0aHJvdHRsaW5nIn0seyJjaWRycyI6WyIyNC41LjY1LjIwMCJdLCJ0eXBlIjoiY2xpZW50In1dfQ.6RYhM_KdEH27SQJ1S4hC7se9h1NmMiTQ0CVZTT-zQJ8oAeh8mBQ2SmuZGUNWY1koflu8YhYsC3ZbWmSXdFQD0w',
}

# playertag=top_1000_players[0]['tag'].replace('#', '')

def get_past_matches_decks(playertag):
    battle_log = requests.get(
        'https://api.clashroyale.com/v1/players/%23{}/battlelog'.format(playertag),
        headers=headersAuth
    ).json()
    return battle_log

def divide_battle_log(battle_log):
    past_decks = set()
    deck_stats = []
    i = 0
    for log in battle_log:
        if log['type'] == 'PvP':
            deck = []
            sorted_log = sorted(log['team'][0]['cards'], key=lambda x: x['name'])
            for card in sorted_log:
                deck.append(card['name'])

            # print(log)

            try:
                past_decks.add(tuple(deck))
                if log['team'][0]['trophyChange'] > 0:
                    deck_stats.append((tuple(deck), 1))
                else: 
                    deck_stats.append((tuple(deck), 0))
            except KeyError:
                pass

    
    decks_plus_stats = []
    for deck in past_decks:
        wins = deck_stats.count((deck, 1))
        losses = deck_stats.count((deck, 0))
        total = wins+losses
        decks_plus_stats.append({
            'total': total,
            'wins': wins,
            'losses': losses,
            'deck': deck
        })
    return decks_plus_stats

# decklist = get_past_matches_decks(playertag)

# print("w l t")
# for deck in decklist:
#     print(deck['wins'], deck['losses'], end=' ')
#     print(deck['total'], end=' ')
#     for card in deck['deck']:
#         print(card, ' | ', end=' ')
#     print('')

In [5]:
get_past_matches_decks('fish')

{'reason': 'accessDenied.invalidIp',
 'message': 'Invalid authorization: API key does not allow access from IP 35.21.26.92'}

In [4]:
def make_graph(decklist, card_graph={}):

    for deck in decklist:
        for card in deck['deck']:

            if card not in card_graph.keys(): # if haven't added edges for this card yet
                card_graph[card] = {
                    'occurances': 1, # how many times this card is seen total
                    'wcount': 0, # how many wins happened with this card in the deck
                    'lcount': 0, # how many losses happened with this card in the deck
                    'totgames': 0, # how many times this card was seen when counting wins and losses (wcount + lcount)
                    'edges': {}, # (key|val) = (name|weight) might add wr later
                }
            else:
                card_graph[card]['occurances'] += 1
                card_graph[card]['wcount'] += deck['wins']
                card_graph[card]['lcount'] += deck['losses']
                card_graph[card]['totgames'] += deck['total']

            for othercard in deck['deck']:
                if card != othercard: # if this isn't the same card that we're building the edges for
                    card_edges = card_graph[card]['edges']
                    if othercard not in card_edges.keys():
                        card_edges[othercard] = 1
                    else:
                        card_edges[othercard] += 1

    return card_graph 

# make_graph(decklist)

In [6]:
card_graph = {}
total_decks_added = 0
i=0
for player in top_1000_players:                       
    playertag = player['tag'].replace('#', '')              # Gets player from top player list

    battle_logs = get_past_matches_decks(playertag)      # Gets all unique pvp decks from past 25 matches
    playerdecklist = divide_battle_log(battle_logs)
    total_decks_added += len(playerdecklist)
    card_graph = make_graph(playerdecklist, card_graph)     # Adds card edges to the card graph
    i+=1
    print('{}, {}'.format(i, total_decks_added), end='\r')

In [10]:
with open('./data/top_10k_player_decks.json', 'w') as outfile:
    json_string = json.dumps(card_graph)
    outfile.write(json_string)

# Reformatting Data

In [11]:
import pandas as pd

adding_dict = {}
for card in sorted(card_graph.keys()):
    adding_dict[card] = card_graph[card]['edges']
adj_matrix = pd.DataFrame(adding_dict).fillna(0).astype(int).sort_index()

In [12]:
adj_matrix.to_csv('./data/top_10k_player_decks_adj_matrix.csv')

In [13]:
adj_matrix

,Archer Queen,Archers,Arrows,Baby Dragon,Balloon,Bandit,Barbarian Barrel,Barbarian Hut,Barbarians,Bats,...,Three Musketeers,Tombstone,Tornado,Valkyrie,Wall Breakers,Witch,Wizard,X-Bow,Zap,Zappies
Archer Queen,0,1,167,37,31,178,142,0,35,163,...,12,41,372,396,66,0,0,196,147,50
Archers,1,0,68,7,13,4,30,1,8,31,...,0,38,82,132,4,0,0,278,41,1
Arrows,167,68,0,141,322,65,205,3,273,488,...,18,511,92,225,54,150,13,0,739,571
Baby Dragon,37,7,141,0,217,68,1088,51,49,177,...,2,561,1483,220,0,4,1,1,148,60
Balloon,31,13,322,217,0,14,395,2,296,144,...,0,356,477,163,1,13,16,0,626,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Witch,0,0,150,4,13,3,8,0,8,52,...,0,11,31,11,2,0,4,0,57,22
Wizard,0,0,13,1,16,5,2,0,18,14,...,2,3,32,11,1,4,0,0,42,0
X-Bow,196,278,0,1,0,3,2,1,13,8,...,0,1,134,125,0,0,0,0,4,1
Zap,147,41,739,148,626,613,127,2,344,683,...,188,352,335,143,177,57,42,4,0,78
Zappies,50,1,571,60,18,14,298,2,33,37,...,8,440,265,110,5,22,0,1,78,0